<phpunit>
    <testsuites>
        <testsuite name="Ydle">
            <directory>../src/*/*Bundle/Tests</directory>
            <directory>../src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
        
        <logging>
            <log type="coverage-clover" target="../build/logs/clover.xml"/>
            <log type="coverage-html" target="../build/coverage" title="Ydle"
                 charset="UTF-8" yui="true" highlight="true"
                 lowUpperBound="35" highLowerBound="70"/>
            <log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
        </logging>
    </filter>

</phpunit>
